.PostsList {
  background-color: #000;
  color: #FFF;
  flex: 0.3;
  height: 100%;
  overflow: auto;
}

.PostsList-header {
  align-items: center;
  background-color: #24292E;
  display: flex;
  height: 80px;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 30%;
  z-index: 1;
}

.PostsList-header h2 {
  margin: 0;
}

.PostsList-list {
  margin: 80px 0 50px;
  padding: 0;
}

.PostsList-footer {
  align-items: center;
  background-color: #24292E;
  border: none;
  bottom: 0;
  color: orange;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 50px;
  justify-content: center;
  position: fixed;
  width: 30%;
}
